<div ng-controller="reimburse.reimburseEditCtl">
    <div class="c-body-box">
        <form class="form-horizontal" role="form" method='post' name="reimburseEditForm">

            <p class="c-line-title">基本信息</p>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label"><span class="text-danger">*</span> 报销单号：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" disabled ng-model="editBaseData.danHao">
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="col-md-3 control-label"><span class="text-danger">*</span>状态：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" disabled ng-model="statusData[editBaseData.status] ">
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label class="col-md-3 control-label"><span class="text-danger">*</span> 姓名：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" disabled ng-model="editBaseData.employmentName">
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="col-md-3 control-label"><span class="text-danger">*</span>部门：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" disabled ng-model="editBaseData.departmentName">
                    </div>
                </div>

            </div>

            <div class="form-group">

                <div class="col-md-6">
                    <label class="col-md-3 control-label"><span class="text-danger">*</span>报销名称：</label>
                    <div class="col-md-9">
                        <input rows="3" class="form-control" placeholder="请输入名称" ng-required="true"
                               ng-pattern="'^[a-zA-Z0-9\u4e00-\u9fa5-_]+$'" ng-model="editBaseData.name" name="reimburseAddDescription"  ng-maxlength="128">
                        <div ng-if="reimburseEditForm.reimburseAddDescription.$dirty || reimburseAddForm.$submitted" >
                            <div class="check-result" ng-show="reimburseEditForm.reimburseAddDescription.$error.required">不能为空</div>
                            <div class="check-result" ng-show="reimburseEditForm.reimburseAddDescription.$error.pattern">只能由中文、英文字母、数字、下划线、中划线组成</div>
                            <div class="check-result" ng-show="reimburseEditForm.reimburseAddDescription.$error.maxlength">最大长度不能超过128个字符</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="col-md-3 control-label"><span class="text-danger">*</span> 总额：</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" disabled ng-model="editBaseData.total">
                    </div>
                </div>
            </div>




            <p class="c-line-title">报销明细</p>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="addDetail()" ng-if="user.type != 9 && flag != 2"><i
                                class="fa fa-plus fa-fw" aria-hidden="true"></i> 添加
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center col-md-1"  style="width: 4%">序号</th>
                                <th class="text-center col-md-1"  style="width: 100px;">项目编号</th>
                                <th class="text-center col-md-1"  style="width: 100px;">项目名称</th>
                                <th class="text-center col-md-1"  style="width:110px;">开始时间</th>
                                <th class="text-center col-md-1"  style="width:110px;">结束时间</th>
                                <th class="text-center col-md-1" style="width: 100px">类型</th>
                                <th class="text-center col-md-1"  style="width: 10%">金额</th>
                                <th class="text-center col-md-1"  style="width: 15%">说明</th>
                                <th class="text-center col-md-1" ng-if="user.type != 9 && flag != 2">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in editDetailLists">
                                <td class="text-center" ng-bind="($index+1)"></td>

                                <td class="text-center">

                                    <div class="myselect">
                                        <ui-select ng-model="item.projectBianHaoA" title="{{item.projectBianHaoA.bianHao}}"
                                                   ng-change="selectProjectName(item.projectBianHaoA.bianHao,$index)" ng-required="true" name="reimburseAddProjectBianHao">
                                            <ui-select-match placeholder="请选择">{{$select.selected.bianHao}}</ui-select-match>
                                            <ui-select-choices repeat="item in projectList | filter: $select.search track by item.bianHao">
                                                <div ng-bind="item.bianHao" title="{{item.bianHao}}"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div ng-if="reimburseAddForm.reimburseAddProjectBianHao.$dirty || reimburseAddForm.$submitted">
                                            <div class="check-result" ng-show="reimburseAddForm.reimburseAddProjectBianHao.$error.required">不能为空</div>
                                        </div>
                                    </div>

                                </td>


                                <td class="text-center">

                                    <div class="myselect">
                                        <ui-select ng-model="item.projectNameA" ng-change="selectProjectBianHao(item.projectNameA.bianHao,$index)"
                                                   title="{{item.projectNameA.name}}" ng-required="true" name="reimburseAddProjectName">
                                            <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item in projectList| filter: $select.search track by item.name">
                                                <div ng-bind="item.name" title="{{item.name}}"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div ng-if="reimburseEditForm.reimburseAddProjectName.$dirty || reimburseEditForm.$submitted">
                                            <div class="check-result" ng-show="reimburseEditForm.reimburseAddProjectName.$error.required">不能为空</div>
                                        </div>
                                    </div>

                                </td>

                                <td class="text-center" style="width:110px;">
                                    <input type="text" name='myDate3' placeholder="请选择日期" class="form-control" ng-required="true"
                                           cjhme-date-picker format="yyyy-mm-dd" ng-model="item.beginTime" callback="callback" />
                                    <div ng-if="reimburseEditForm.myDate3.$dirty || reimburseEditForm.$submitted">
                                        <div class="check-result" ng-show="reimburseEditForm.myDate3.$error.required">不能为空</div>
                                    </div>
                                </td>

                                <td class="text-center" style="width:110px;">
                                    <input type="text" name='myDate4' placeholder="请选择日期" class="form-control" ng-required="true"
                                           cjhme-date-picker format="yyyy-mm-dd" ng-model="item.endTime" callback="callback" />
                                    <div ng-if="reimburseEditForm.myDate4.$dirty || reimburseEditForm.$submitted">
                                        <div class="check-result" ng-show="reimburseEditForm.myDate4.$error.required">不能为空</div>
                                    </div>
                                </td>


                                <td class="text-center">
                                    <div class="myselect">
                                        <ui-select ng-model="item.typeNameA" title="{{item.typeNameA.name}}" ng-required="true" name="reimburseAddType">
                                            <ui-select-match placeholder="请选择类别">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item in bigTypeList | filter: $select.search track by item.name">
                                                <div ng-bind="item.name"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div ng-if="reimburseEditForm.reimburseAddType.$dirty || reimburseEditForm.$submitted">
                                            <div class="check-result" ng-show="reimburseEditForm.reimburseAddType.$error.required">不能为空</div>
                                        </div>
                                    </div>
                                </td>



                                <td class="text-center">
                                    <input type="text" class="form-control" ng-model="item.money" ng-change="computeTotalMonoey()" name="reimburseEditdMoney"
                                           ng-required="true" ng-pattern="'^(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)'">
                                    <div ng-if="reimburseEditForm.reimburseEditdMoney.$dirty || reimburseEditForm.$submitted" >
                                        <div class="check-result" ng-show="reimburseEditForm.reimburseEditdMoney.$error.required">不能为空</div>
                                        <div class="check-result" ng-show="reimburseEditForm.reimburseEditdMoney.$error.pattern">请输入正确的金额</div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" ng-model="item.description" ng-maxlength="64" name="reimburseAdddescription22" >
                                    <div ng-if="reimburseEditForm.reimburseAdddescription22.$dirty || reimburseEditForm.$submitted" >
                                        <div class="check-result" ng-show="reimburseEditForm.reimburseAdddescription22.$error.maxlength">最大长度64</div>
                                    </div>
                                </td>
                                <td class="text-center" ng-if="user.type != 9 && flag != 2">
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="delDetai($index)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i> 删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <button type="button" id="editReimburseBtn" class="btn btn-primary" ng-if="user.type != 9 && flag != 2"
                            ng-disabled="!(editBaseData.status == 1) || !reimburseEditForm.$valid" ng-click="updateReq();">保存
                    </button>&nbsp;
                    <button type="button" class="btn btn-success" ng-if="flag != 2" ng-click="returnReimburseList();">
                        返回
                    </button>
                    <button type="button" class="btn btn-success" ng-if="flag == 2"
                            ng-click="returnReimburseDepartmentList();">返回
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

